<h1 class="text-3xl">Por region</h1>
<h3 class="text-xl">Seleccione una region!</h3>


<section class="row mt-2">
    <div class="flex">
        @for (region of regions; track region) {
        <button (click)="selectedRegion.set(region)" [ngClass]="{
            'btn': true,
            'btn-outline': true,
            'font-bold': true,
            'w-[100px]': true,
            'mr-2': true,
            'border-orange-500 text-orange-500': selectedRegion() === region
        }">
            {{ region }}
        </button>
        }
    </div>
</section>


<app-country-list [errorMessage]="countryResource.error()" [countries]="countryResource.value() ?? []"
    [isEmpty]="countryResource.value()?.length == 0" [isLoading]="countryResource.isLoading()">
</app-country-list>